{% extends "base.html" %}


{% block content %}
<div class="container">
   <table id="table" 
   data-show-export="true"
   data-show-toggle="true"
   ></table>
</div>
  
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

<!--export--><script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<!--export--><script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
<!--export--><script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
<!--export--><script src="https://unpkg.com/bootstrap-table@1.14.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
<!--sticky--><script src="https://unpkg.com/bootstrap-table@1.14.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
<script>

function alleleFormatter(data) {
  if (data.length>10){
    rst = data.substring(0,4) + "..." + data.substring(data.length-4,data.length);
  }else{
    rst = data;
  }
  return rst;
}


$('#table').bootstrapTable({
  pagination:true,
  search:true,
  showColumns:true,
  stickyHeader: true,
  theadClasses: 'thead-dark',
  columns: [##TABLE_HEADER##],
  data: [##VARIANT_LIST##]
})

</script>
{% endblock %}